body {
	font-family: 'Oswald', sans-serif;
	background-image: url(topbanner.jpg);
	background-repeat: no-repeat;
	margin: 0;
}

h2,
h1,
p {
	color: rgb(235, 209, 245);
}

h4 {
	color: rgb(207, 139, 231);
}

h3 {
	font-size: x-large;
}

.pf {
	color: blueviolet;
}

.home {
	display: flex;
}

.intro {
	width: 50%;
	padding-top: 30px;
	padding-left: 25px;

}

.intro img {
	width: 80%;
	padding-top: 5%;
	padding-left: 5%;
}

.fb {
	color: whitesmoke;
	font-size: x-small;
	font-weight: 600;
	text-decoration: none;
	background-color: blueviolet;
	background-image: linear-gradient(blueviolet, violet);
	padding: 5px 10px;
	border-radius: 5px;
}

.work {
	display: flex;
	justify-content: center;
}

.des {
	width: 50%;
	padding-top: 10%;
}

.des img {
	width: 50%;
	padding-bottom: 15%;
	padding-left: 15%;
}