body {
	font-family: 'Oswald', sans-serif;
	background-image: url(topbanner.jpg);
	background-repeat: no-repeat;
	margin: 0;
}

h1,
h2,
p {
	color: rgb(235, 209, 245);
}

h4,
.pad {
	color: rgb(207, 139, 231);
}

h3 {
	font-size: x-large;
}

.pf {
	color: blueviolet;
}

.home {
	display: flex;
}

.intro {
	width: 50%;
	padding-top: 30px;
	padding-left: 25px;

}

.intro img {
	width: 80%;
	padding-top: 5%;
	padding-left: 5%;
}

.fb {
	color: whitesmoke;
	font-size: x-small;
	font-weight: 600;
	text-decoration: none;
	background-color: blueviolet;
	background-image: linear-gradient(blueviolet, violet);
	padding: 5px 10px;
	border-radius: 5px;
}

.work {
	display: flex;
}

.des {
	width: 50%;
	padding-top: 10%;
}

.des img {
	width: 50%;
	padding-bottom: 15%;
	padding-left: 15%;
}

.pad {
	padding-left: 5%;
}

.exp {
	display: flex;
}

.el {
	background-color: rgba(137, 43, 226, 0.486);
	margin-left: 5%;
	margin-right: 5%;
	padding: 2%;
	border-radius: 10px;
	box-shadow: 8px 12px 25px 1px rgb(141, 106, 141);
	border-left: 5px solid blueviolet;
}

footer {
	font-family: 'Times New Roman', Times, serif;
	padding-top: 10%;
	color: rgba(240, 255, 255, 0.329);
	text-align: center;
}